<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->

  <title>Diabetes Diagnosis Center</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">The Utterly Uncreative</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diagnose">Diagnose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/howitworks">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="https://github.com/carterkioski/Utterly_Uncreative_2">Repo</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-12">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-1 fw-bold  ">Diabetes Diagnosis Center</span>
      </a>
    </header>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Plese fill in the following information for a diagnose</h4>
        <div class="row">
          <form class="row g-3" action="/diagnose" method="POST">
            <!-- <div class="col-md-9"> -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="Age" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">BMI</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="BMI" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Skin Thickness</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="SkinThickness" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Insulin</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="Insulin" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Glucose</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="Glucose" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Blood Pressure</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="BloodPressure" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Diabetes Pedigree Function</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="DiabetesPedigreeFunction" value=0>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Pregnancies</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name='Pregnancies' value=0>
            </div>
            <div class="retinas">
              <div class="row">
                <div class="col-2 col-md-2">
                  <input type="radio" name="retina" id="190" value="190" checked>
                  <img src="./static/img/Mild/0dce95217626.png" class="img-fluid" width="100%"
                    alt="image_0dce95217626">
                  </input>
                </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="279" value="279">
                <img src="./static/img/Moderate/1541226c5d72.png" class="img-fluid" width="100%"
                    alt="1541226c5d72.png">
              </input>
                    </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="2713" value="2713"> 
                <img src="./static/img/Severe/bb7e0a2544cd.png" class="img-fluid" width="100%"
                    alt="bb7e0a2544cd.png">
              </input>
              </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="3063" value="3063"> 
                <img src="./static/img/Proliferate_DR/d51b3fe0fa1b.png" class="img-fluid"
                    width="100%" alt="d51b3fe0fa1b.png">
                  </input>
              </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="3296" value="3296"> 
                <img src="./static/img/No_DR/e4dcca36ceb4.png" class="img-fluid" width="100%"
                    alt="e4dcca36ceb4.png">
                </input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="1097" value="1097"> 
                <img src="./static/img/Proliferate_DR/4dc2211a1c31.png" class="img-fluid"
                    width="100%" alt="4dc2211a1c31.png">
                  </input>
              </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="312" value="312"> 
                <img src="./static/img/No_DR/17d7d6b092f4.png" class="img-fluid" width="100%"
                    alt="17d7d6b092f4.png">
              </input>
              </div>
              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="1225" value="1225"> 
                <img src="./static/img/Moderate/54bbe3da103e.png" class="img-fluid"
                    width="100%" alt="image_54bbe3da103e">
              </input>
              </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="1289" value="1289"> 
                <img src="./static/img/Mild/59e5212f7139.png" class="img-fluid" width="100%"
                    alt="image_59e5212f7139.png">
                    </input>
              </div>

              <div class="col-2 col-md-2">
                <input type="radio" name="retina" id="700" value="700"> 
                <img src="./static/img/Severe/3218a6d8eb2c.png" class="img-fluid" width="100%"
                    alt="3218a6d8eb2c.png">
              </input>
              </div>
            </div>

            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <br>
        <h2>Information you Input:</h2><br>
        <p>Age: {{ age1 }}</p>
        <p>BMI: {{ bmi1 }}</p>
        <p>Skin Thickness: {{ skin1 }}</p>
        <p>Insulin: {{ ins1 }}</p>
        <p>Glucose: {{ glu1 }}</p>
        <p>Blood Pressure: {{ bp1 }}</p>
        <p>Diabetes Pedigree Function: {{ dpf1 }}</p>
        <p>Pregnancies: {{ preg1 }}</p>
        <h2>Results:</h2>
        {% if diabetes_result < 2 %}
        <p>Our model predicts that you do {{(1-diabetes_result) * 'NOT'}} have diabetis!</p>
        <p>The eye you selected indicates a condition of {{retinopathy_result}} diabetic retinopathy</p>
        {% endif %}
      </div>
      <script>document.write(diabetes_result)</script>
    </div>
  </div>


  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>