<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <title>How it Works</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">The Utterly Uncreative</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">  
                            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/diagnose">Diagnose</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/howitworks">How it works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/carterkioski/Utterly_Uncreative_2">Repo</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container py-12">
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-1 fw-bold  ">How it works... </span>
          </a>
        </header>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Dataset 1: Diabetes Data Set</h4>
          <br>
          <ol class="list-group list-group-numbered">
            <li class = "list-group-item fw-bold">Data Description</li>
            <br>
            <p4>This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. We used the following 
              dataset to create models that predicts whether a patient has diabetes.</p4>
            <br>
            <p4>Columns Variable Explanation:</p4>
              <ul>
                <li>Pregnancies: The number of times pregnant</li>
                <li>Glucose: Plasma glucose concentration at 2 hours in an oral glucose tolerance test</li>
                <li>Blood Pressure: Diastolic blood pressure (mmHg)</li>
                <li>Skin Thickness: Triceps skin fold thickness (mm)</li>
                <li>Insulin: 2-Hour serum insulin (mu U/ml)</li>
                <li>BMI: Body mass index (weight in kg/(height in m)^2)</li>
                <li>Diabetes Pedigree Function: Diabetes pedigree function scores likelihood of diabetes based on family history</li>
                <li>Age: Age in years</li>
                <li>Outcome: Class variable (0 or 1)</li>
              </ul>
              <br>
              <p><a href="https://www.kaggle.com/mathchi/diabetes-data-set">Kaggle Dataset Source</a></p>
              <br>
            <li class="list-group-item fw-bold">Exploratory Data Analysis</li><br>
            <p4>Pie charts: Variable Means Grouped by Diabetes Outcome (0 = negative 1 = positive). The means for positive diagnosis patients are higher than the general population.</p4>
            <div class="row">
              <div class="column">
                <img src="./static/img/fig1.png" alt="BMI" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig2.png" alt="Insulin" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig3.png" alt="Age" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig5.png" alt="Skin Thickness" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig6.png" alt="Glucose" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig7.png" alt="Diabetes Pedigree Function" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/fig4.png" alt="pregnancies" style="width:100%">
              </div>
            </div>
            <li class="list-group-item fw-bold">Machine Learning Analysis</li>
            
          </ol>
        </div>
    
        <div class="col-lg-12">
          <br>
          <h4>Dataset 2: Diabetic Retinopathy 224x224 Gaussian Filtered</h4>
          <br>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item fw-bold">Data Description</li>
            <br>
            <p4>The images consist of gaussian filtered retina scan images to detect diabetic retinopathy. The original dataset is available at APTOS 2019 Blindness Detection. All the images are resized
              into 224x224 pixels. We used these image to train deep learning convolutional neural network (CNN) models to predict Diabetic Retinopathy.
            </p4>
            <br>
            <p4>The five directories with the respective images:</p4>
              <ul>
                <li>0- No_DR</li>
                <li>1- Mild</li>
                <li>2- Moderate</li>
                <li>3- Severe</li>
                <li>4- Proliferate_DR</li>
              </ul>
              <br>
              <p><a href="https://www.kaggle.com/sovitrath/diabetic-retinopathy-224x224-gaussian-filtered">Kaggle Dataset Source</a></p>
              <br>
            <li class="list-group-item fw-bold">Data and Set up</li><br>
            
            <div class="row">
              <div class="column">
               <figure>
                <figcaption fw-bold>Background on the Study</figcaption>
                <img  src="./static/img/Purpose.jpg" alt="Purpose" style="width:100%">
                </figure>
              </div>
              <div class="column">
                <figure>
                  <figcaption fw-bold>Fundus retinal Camera</figcaption>
                <img src="./static/img/Fundus_Camera.jpg" alt="Camera" style="width:100%">
              </figure>
              </div>
              <div class="column">
                <figure>
                  <figcaption fw-bold>Normal Retina</figcaption>
                <img src="./static/img/Normal_eyes.jpg" alt="Normal" style="width:100%">
              </figure>
              </div>
              <div class="column">
                <figure>
                  <figcaption fw-bold>Proliferate Diseased Retina</figcaption>
                <img src="./static/img/Proliferate.png" alt="Proliferate" style="width:100%">
              </figure>
              </div>
            </div>

            <li class="list-group-item fw-bold">Machine Learning Analysis - Model and Performance</li>
            <div class="row">
              <div class="column">
                <img src="./static/img/Model-1.png" alt="CNN-1" style="width:100%">
              </div>
              <div class="column">
                <img src="./static/img/Model-2.png" alt="CNN-2" style="width:100%">
              </div>
              <div class="column">
                <figure>
                  <figcaption>Model Accuracy versus Iteration Epoch</figcaption>
                <img src="./static/img/plot_1_SC.png" alt="Accuracy" style="width:100%">
              </figure>
              </div>
              <div class="column">
                <figure>
                  <figcaption>Model Loss versus Iteration Epoch</figcaption>
                <img src="./static/img/plot_2_SC.png" alt="Loss" style="width:100%">
              </figure>
              </div>
            </div>




          </ol>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>