<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <!-- for Mobile First approach-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diabetes Retinal Diagnosis</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="V4Style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
​</head>

<body>
        
          <div class="col-lg-12 col-md-12">
              <div class="card">
                
                  <h1> Please Select a Retina Image for Evaluation</h1>
              
                  <hr>
                  <div class="row">
                    <div class="col-2 col-md-2">
                      <a href="ck.html-190"><img src="../Images/Demo/Mild/0dce95217626.png" class="img-fluid" width="100%"  alt="image_0dce95217626"></a>                      
                    </div>
                    
                    <div class="col-2 col-md-2">
                      <a href="ck.html-279"><img src="../Images/Demo/Moderate/1541226c5d72.png" class="img-fluid" width="100%" alt="1541226c5d72.png"></a>
                    </div>
                 
                    <div class="col-2 col-md-2">
                      <a href="ck.html-2713"><img src="../Images/Demo/Severe/bb7e0a2544cd.png" class="img-fluid" width="100%"  alt="bb7e0a2544cd.png"></a>
                    </div>

                    <div class="col-2 col-md-2">
                      <a href="ck.html-3063"><img src="../Images/Demo/Proliferate_DR/d51b3fe0fa1b.png" class="img-fluid" width="100%"  alt="d51b3fe0fa1b.png"></a>
                    </div>

                    <div class="col-2 col-md-2">
                      <a href="ck.html-3296"><img src="../Images/Demo/No_DR/e4dcca36ceb4.png" class="img-fluid" width="100%"  alt="e4dcca36ceb4.png"></a>
                    </div>

                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-2 col-md-2">
                      <a href="ck.html-1097"><img src="../Images/Demo/Proliferate_DR/4dc2211a1c31.png" class="img-fluid" width="100%"  alt="4dc2211a1c31.png"></a>                      
                    </div>
                    
                    <div class="col-2 col-md-2">
                      <a href="ck.html-312"><img src="../Images/Demo/No_DR/17d7d6b092f4.png" class="img-fluid" width="100%"  alt="17d7d6b092f4.png"></a>

                    </div>
                    <div class="col-2 col-md-2">
                      <a href="ck.html-1225"><img src="../Images/Demo/Moderate/54bbe3da103e.png" class="img-fluid" width="100%" alt="image_54bbe3da103e"></a>
                    </div>
                 
                    <div class="col-2 col-md-2">
                      <a href="ck.html-1289"><img src="../Images/Demo/Mild/59e5212f7139.png" class="img-fluid" width="100%"  alt="image_59e5212f7139.png"></a>
                    </div>

                    <div class="col-2 col-md-2">
                      <a href="ck.html-700"><img src="../Images/Demo/Severe/3218a6d8eb2c.png" class="img-fluid" width="100%"  alt="3218a6d8eb2c.png"></a>
                    </div>
                    
                  </div>

              </div>
          </div>
</body>
</html>